@forward "header";
@forward "ready-system";
@forward "what-teach";
@forward "difference";
@forward "how-works";
@forward "master-format";
@forward "course-program";
@forward "author";
@forward "section-questions";
@forward "footer";
